@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "./variables.scss";
/*Breakpoints*/
$mobile: 768px;
$tablet: 1024px;
$desktop: 1440px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}