@import "./global.scss";
@import "./variables.scss";

.header {
    /* max-width: 1240px;
    max-height: 68px; */
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 2rem 3rem 0 3rem; /* 32px 48px 0 48px */
    margin: 2.8125rem auto 3.125rem auto; /* 45px auto 50px auto */
    .menu {
        display: flex;
        justify-content: space-between;
        font-size: $font-size-24;
        ul {
            display: flex;
            gap: 3.5625rem; /* 57px */
            list-style: none;
            margin-top: 1.0625rem; /* 17px */
            padding: 0;
            
            li {
                margin: 0;
                a {
                    text-decoration: none;
                    color: $black-color;
                    position: relative;
                    
                    &.active {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}