/*Variables*/
$primary-color: #ff6060;
$background-color: #f6f6f6;
$black-color: #000000;
$white-color: #ffffff;
$grey-star-color: #e3e3e3;
$font-family: 'Montserrat', sans-serif;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-700: 700;
$font-size-288: 18rem; /* 288px */
$font-size-96: 6rem; /* 96px */
$font-size-48: 3rem; /* 48px */
$font-size-36: 2.25rem; /* 36px */
$font-size-24: 1.5rem; /* 24px */
$font-size-18: 1.125rem; /* 18px */
$font-size-14: 0.875rem; /* 14px */
$font-size-12: 0.75rem; /* 12px */
$layout-max-width: 1240px;
$container-max-width: 1440px;
