@import "../../styles/global.scss";

.home-layout {
    max-width: $layout-max-width;
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem 1.25rem;

    .cards-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        padding: 50px;
        margin-top: 2rem;
        background-color: $background-color;
        border-radius: 1.5rem;

        @media (max-width: $tablet) {
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
            padding: 30px;
        }

        @media (max-width: $mobile) {
            grid-template-columns: 1fr;
            gap: 20px;
            padding: 0;
            background-color: transparent;
        }
    }
}